@charaset "utf-8";

/*===============================
フォント
===============================*/
.num{
font-family: 'Montserrat',sans-serif;
}

.price{
display: block;
font-weight: bold;
font-family: 'Montserrat',sans-serif;
color: #ff6600;
}



/*===============================
全体設計
===============================*/
html{
height: 100%;
}

body{
margin: 0;
padding: 0;
color: #333333;
line-height: 150%;
}
body a:visited{
color: #333333;
}

h1,h2,h3,h4,h5,h6,p{
margin: 0;
}

img{
vertical-align: bottom;
}

ul{
/*
margin: 0;
padding: 0;
*/
}

/*===============================
ヘッダー
===============================*/
.logo a img{
/*    width: 100%;*/
width: 200px;
}

header{
/*  width: 980px;*/
height: 65px;
margin: 0 auto;
padding-top: 20px;
border-bottom: 2px solid #f6f6f6;
}

#index header{
border-bottom: none;
}

.logo{
width: 300px;
float: left;
margin-top: 10px;
position: absolute;
}

#top-nav {
position: relative;
float: right;
width: 500px;
height: 65px;
bottom: 5px;
}

#top-nav ul {
position: absolute;
top: 0;
right: 0;
bottom: 5px;
margin: 0;
width: 600px;
list-style: none;

}

#top-nav ul li{
float: right;
list-style: none;
margin-left: 5px;
padding:  0;
line-height: 45px;
padding-top: 10px;
}
#top-nav ul li a{
text-decoration: none;
font-size: 15px;
padding: 15px 10px;
border-radius: 5px;
text-align: center;
}

#top-nav a:visited{
color: inherit;
}
#top-nav ul li a:hover{
text-decoration: underline;
}

#top-nav .btn-signup{
padding-left: 25px;
height:20px;
background: linear-gradient(#ffffff,#d3d3d3);
border: 1px solid #696969;
position: relative;
}

.wakaba-icon{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
  left: 5px;
}

#top-nav .btn-login{
/*padding: 10px 20px;*/
  vertical-align: middle;
  height:20px;
border-radius: 5px;
background: linear-gradient(#ffffff,#ffff00);
border: 1px solid #696969;
}

.btn-mypage{
/*padding: 10px 20px;*/
border-radius: 5px;
background: linear-gradient(#ffffff,#dc143c);
border: 1px solid #696969;
/*font-weight: bold;*/
line-height: 110%;
}

#top-nav .btn-logout{
/*padding: 10px 20px;*/
border-radius: 5px;
background: linear-gradient(#ffffff,#ffff00);
border: 1px solid #696969;
/*font-weight: bold;*/
  line-height: 110%;
}

#top-nav .btn-contact{
/*  padding: 30px 10px;*/
  border-radius: 5px;
  background: linear-gradient(#ffffff,#d3d3d3);
  border: 1px solid #696969;
  line-height: 110%;

}

#top-nav .btn-qa{
/*  padding: 10px 20px;*/
  border-radius: 5px;
  background: linear-gradient(#ffffff,#d3d3d3);
  border: 1px solid #696969;
  line-height: 110%;
}


#top-nav a:visited{
color: inherit;
}

.sign-up{
color: red;
font-weight: bold;
}
/*===============================
広告タブ
===============================*/
#ads{
height: 40px;
width: 100%;
background: #191970;
}

#ads p{
line-height: 40px;
text-align: center;
color: white;
font-weight: 800;
}

/*===============================
広告タブ（電光掲示版風アニメーション）
===============================*/

#ads span{
display: inline-block;
white-space: nowrap;
padding-left: 100%;
-webkit-animation-name: marquee;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 25s;
-moz-animation-name: marquee;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
-moz-animation-duration: 25s;
animation-name: marquee;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 25s;
}

@-webkit-keyframes marquee {
from   { -webkit-transform: translate(0%);}
99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
from   { -moz-transform: translate(0%);}
99%,to { -moz-transform: translate(-100%);}
}
@keyframes marquee {
from   { transform: translate(0%);}
99%,to { transform: translate(-100%);}
}

/*===============================
メニュータブ
===============================*/
#menu-tab{
width: 100%;
height: 50px;
display: block;
margin-top: 5px;

border-bottom: 5px solid #cd5c5c;
}

#menu-tab ul li{
display: block;
float: left;
list-style: none;
height: 50px;
line-height: 50px;
border-radius: 5px 5px 0 0;
min-width: 120px;
background: linear-gradient(#a9a9a9,#ffffff);
transition: all 0.3s ease 0s;
}
#menu-tab ul li:hover{
background: linear-gradient(#b22222,#cd5c5c);
color:white;

}

#menu-tab ul li a{
text-decoration: none;
width: 100%;
margin: 0 auto;
display: block;
line-height: inherit;
max-height: 50px;
text-align: center;
box-sizing: border-box;
}

#menu-tab a:visited{
color: inherit;
}

/*===============================
メニュータブ(現在ページタブの色)
===============================*/
#menu-tab .active{
background: linear-gradient(#b22222,#cd5c5c);
color:white;
}



/*===============================
TOPページレイアウト
===============================*/
#index{
background-image: url(images/top-img.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
position: relative;
height: 100%;
}

#bg_blk{
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.6);
height: 100%;
}

#wrap{
width: 100%;
clear: none;
position:absolute;


}

#index .content{
margin-top: 100px;
margin-left: 15px;
}

#index p{
font-size: 20px;
line-height: 1;
color: #ffffff;
opacity: 0.8;
text-align: center;
}
#btn{
width: 100%;

}
.btn a{
margin: 0 auto;
margin-top: 15px;
text-align: center;
width:230px;
display: block;
line-height: 65px;
border-radius: 25px;
text-decoration: none;
border: 3px solid #EE0000;
background-color: #ffffff;
color: #000000;
}
.btn a:hover{
border: 3px solid #ffffff;
text-decoration: none;
background-color: #ee0000;
color: #ffffff;
}

/*===============================
全体（TOPページ以外）レイアウト
===============================*/
.site-width{
margin: 0 auto;
width: 980px;
}

#contents{
margin: 100px auto;
overflow: hidden;
position: relative;
}
.page-1colum #main{
width: 100%;
}

.page-2colum #main{
width: 760px;
}

#main{
float:left;
}



/*ページタイトル*/
.page-title{
margin-bottom: 50px;
padding-top: 20px; /*Lesson14にて追加*/
text-align: center;
font-size: 32px;
}
/*/////////////////////*/
/*サイドバー*/
/*//////////////////////*/
#sidebar{
float: left;
box-sizing: border-box;
margin-right: 20px;
padding: 15px;
min-height: 600px;
width: 200px;
background: #f6f5f4;
}

#sidebar .title{
text-align: left;
font-size: 14px;
}

#sidebar .selectbox{
position: relative;
}

#sidebar select {
padding: 10px;
width: 100%;
border-color: #ccc;
border-radius: 0;
font-size: 14px;
-webkit-appearance:none;
}

#sidebar .icn_select:after{
position: absolute;
top:15px;
right: 10px;
display: block;
width: 0;
height: 0;
border-top: 10px solid #333;
border-right: 7px solid transparent;
border-bottom: 10px solid transparent;
border-left:7px solid transparent;
content: "";
}

/*
///////////////////////////
メイン
///////////////////////////
*/
.search-title{
overflow: hidden;
margin-bottom: 30px;
padding: 5px 10px;
height: 40px;
background: #f6f5f4;
line-height: 40px;
}

.search-left{
float: left;
}

.search-right{
float: right;
}

.panel-list{
overflow: hidden;
margin-right: -15px;
}

.panel-list > .panel{
float: left;
box-sizing: border-box;
margin-bottom: 15px;
padding-right: 15px;
min-height: 185px;
width: 25%;
color: #333;
text-decoration: none;
line-height: 1.2em;
}

.page-mypage .panel-list > .panel{
  width: 20%;
}

.panel .panel-head{
  min-height: 200px;
  position: relative;
  margin-bottom: 5px;
}

.page-tranSale .panel .panel-head{
  width: 300px;
}

.panel-list > .panel img{
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*===============================
フォーム
===============================*/
.form{
margin: 0 auto;
width: 400px;
padding: 30px;
border: 8px solid rgba(192,192,192,0.3);
border-radius: 3px;
}

.form .title {
margin-bottom: 40px;
text-align: center;
}

.form .area-msg{
padding: 0 0 15px 0;
color: red;
}

.form .area-drop{
margin-bottom: 15px;
width: 100%;
height: 140px;
background: #f6f5f4;
color: #ccc;
text-align: center;
line-height: 140px;
position: relative;
box-sizing: border-box;
}

.form .input-file{
opacity:0;
width:100%;
height: 140px;
position:absolute;
top:0;
left:0;
z-index:2; 　/*  必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる
*/
}

.form-container{
width: 780px;
margin: 0 auto;
}

.form .prev-img{
width: 100%;
max-height: 100%;
position: absolute;
top: 0;
left: 0;
}

.form .label-require{
background: #fe8a8b;
color: #fff;
margin-left: 5px;
padding: 3px 5px;
vertical-align: bottom;
font-size: 14px;

}

.form .counter-text{
text-align: right;
}

.form .imgDrop-container{
width: 33.333%;
float: left;
box-sizing: border-box;
padding-right: 15px;
}

.form .imgDrop-container:last-child{
padding-right: 0;

}

.form-group{
position: relative;
overflow: hidden;
}

.form-group input{
float: left;
}

.form-group .option{
position: relative;
top: 40px;
display: block;
float: left;
padding-left: 15px;
}

.page-withdraw #main a{
  left: 100px;
  display: block;
  width: 500px;
  margin: 10px auto 0;
}

label{
display: block;
}



input[type="text"], input[type="password"], input[type="number"], .form select,
textarea {
display: block;
box-sizing: border-box;
margin-bottom: 15px;
padding: 15px;
width: 100%;
height: 60px;
border: none;
background: #f6f5f5;
font-size: 22px;
}

input[type="checkbox"]{
width: 18px;
height: 18px;
background: #f6f5f5;
vertical-align: middle;
}

input[type="submit"]{
margin: 15px 0;
padding: 15px 30px;
width: 100%;
/*  border: 2px solid #333;*/
background: #333;
color: white;
font-size: 14px;
}

select:hover,
input[type="submit"]:hover{
cursor: pointer;
}

.list-table{
  margin-top: 100px;
}

.list-table h2{
  text-align: center;
  margin-bottom: 50px;
}

.list-table .table{
  margin: 0 auto;
}

.list-table .table th{
  text-align: left;
}

.list-table .table .sale-buy{
  text-align: center;
}

.table .sale{
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.table .buy{
  background: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.panel-list{
  margin-top: 100px;
}

.msg-info .right .sale{
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.msg-info .right .buy{
  background: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

/*===============================
ボタン
===============================*/
.form .btn{
float: right;
}

.btn-mid{
max-width: 150px;
}

.btn-container{
overflow: hidden;
}

.product-buy .btn.btn-primary{
  background: linear-gradient(#FFd080,#ff6600);
color: white;
  border-radius: 10px;
  border:2px solid rgba(192,192,192,0.7);
  text-shadow: 1px 1px 2px #000;
}

/*===============================
ページネーション
===============================*/
.pagination{
position: relative;
overflow: hidden;
}

.pagination-list{
position: relative;
left: 50%;
float: left;
padding-left: 0;
list-style: none;
}

.pagination .list-item{
position: relative;
left: -50px;
float: left;
margin-right: 5px;
}

.pagination .list-item:last-child{
margin-right: 0;
}

.pagination .list-item a{
display: block;
padding: 5px 10px;
background: #eee;
color: #000;
text-decoration: none;
font-family: 'Montserrat' , sans-serif;
}

.pagination .list-item.active a{
background: #333;
color: white;
}

a, a:active, a:focus{
color: #b6a489;
}
/*===============================
フッター
===============================*/
#footer{
position: absolute;
border-top: 2px solid #EE0000;
height: 20px;
width: 100%;
text-align: center;
background-color: #F2F2F2;
padding: 15px;
font-size: 12px;
}




/*===============================
その他
===============================*/
.msg-slide{
position: fixed;
width: 100%;
/*  top: 70px;*/
height: 40px;
background: rgba(255,0,0,0.9
);
text-align: center;
font-size: 16px;
line-height: 40px;



